/* Google Translate bar ve overlay temizliği */
.goog-te-banner-frame {
    display: none !important;
}

body {
    top: 0 !important;
}

.goog-tooltip,
.goog-tooltip:hover,
.goog-te-spinner-pos {
    display: none !important;
}

